*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 80%;
    height: 80%;
    background-color: brown;
}

.slider{
    
    width: 200px;
    height: 100%;
    background-color: yellow;
}